*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@font-face {
    font-family: 'Cormorant Garamond', serif;;
    src: url(../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

.body{
    background-color: #F2EFE9;
}


.top_bar{
    display: flexbox;
    align-content: baseline;
    padding: .3125rem .3125rem ;   
    background-color: #728CBD;
    font-size: 1rem;
    color: #ffffff;
}

.tb_left{
    float: left;
    display: flex;
    align-items: baseline;
    margin-top: .1875rem;
    
}

.tb_left img{
    display: flex;
    justify-content: center;
    margin: 0rem .1875rem;
    
}

.tb_left span{    
    padding-left: .0625rem .125rem .0625rem .125rem;
    font-size: .875rem;
    
}


.rrss{
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.rrss ul{
    display: flex;
    flex-direction: row;
    
}



.rrss ul li{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 0rem;
    width: auto;
    height: auto;
}

.rrss ul li a img{
    display: flex;
    justify-content: end;
    padding: .1875rem;
}

/*.rrss ul li{
    
    margin-top: 0rem;
    display: flex;
    text-decoration: none;
    justify-content: end;
    top: 0rem;
    margin-right: .625rem;
    height: .625rem;
    list-style: none;

}
*/

.header_nav{
    padding: .625rem 0rem;
    display: flex;
    justify-content:space-around;
    margin: .625rem 0rem;

}

.header_nav img{
    margin-top: 0rem;
    max-height: 3.75rem;
    
}

.principal_section{
    background-image: url(../assets/img/banner_cama.jpg);
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.navbar{
    list-style: none;
    align-items: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    row-gap: 1.25rem;
    column-gap: ;
}