* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cormorant Garamond', serif;
    ;
    src: url(../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

.body {
    background-color: #F2EFE9;
    background-size: contain;
}



.top_bar {
    display: flexbox;
    align-content: baseline;
    padding: .3125rem .3125rem;
    background-color: #728CBD;
    font-size: 1rem;
    color: #ffffff;
}

.tb_left {
    float: left;
    display: flex;
    align-items: baseline;
    margin-top: .1875rem;

}

.tb_left img {
    display: flex;
    justify-content: center;
    margin: 0rem .1875rem;
    flex
}

.tb_left span {
    padding-left: .0625rem .125rem .0625rem .125rem;
    font-size: .875rem;

}


.rrss {
    display: flex;
    align-items: center;
    justify-content: right;

}

.rrss ul {
    display: flex;
    flex-direction: row;

}



.rrss ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 0rem;
    width: auto;
    height: auto;
}

.rrss ul li a img {
    display: flex;
    justify-content: end;
    padding: .1875rem;
}


.nav {
    display: flex;
    padding: .625rem 0rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: .625rem 0rem;
}

.logo img {
    max-height: 3.75rem;
}

.navbar {
    list-style: none;
    align-items: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    row-gap: 1.25rem;
    column-gap: ;
}

.navbar li a:hover {
    color: grey;
    text-shadow: .125rem .125rem .125rem lightblue;
}

/* BANNER PÁGINA PRINCIPAL */

.principal_section {
    display: flex;
    background-image: url(../assets/img/banner_cama.jpg);
    width: auto;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



/* TARJETAS PRODUCTOS*/

.titulo_productos_destacados {
    display: flex;
    justify-content: center;
    padding: 3.125rem 0rem 1.875rem 0rem;
}


.cards_grid {
    display: grid;
    grid-auto-rows: 22rem;
    grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    /*grid-template-areas: 
    ".    col1 col1 col1 col1 .    "
    ".    col2 col3 col4 col5 .    "
    ".    col6 col7 col8 col9 .    "
    ;*/
    background-color: #F2EFE9;
    justify-content: center;
    gap: 1.25rem;
}

.cuerpo {
    justify-content: center;
}


.cards_grid div img {
    width: 12.5rem;
    margin: .625rem;
}

.titulo_pd {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
}

.card {
    grid-auto-flow: ;
}

.card_image {
    overflow: scroll;
}

.card_title {}

.card p {
    position: fixed;
}

/* SECCION COMO LLEGAR (ubicacion) */


.como_llegar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.125rem 0rem 1.875rem 0rem;
}

.mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.125rem 0rem 1.875rem 0rem;
    position: relative;
}


/** PAGINA "QUIENES SOLOS"  **/

.principal_section_quienes_somos{
    display: flexbox;    
    width: 100%;    
    justify-items: center;
}

.titulo_quienes_somos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 1.25rem;
}

.video_quienes_somos{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video_intro{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3.125rem;    
    width: 80%;
    height: 100%;
    border: 0;
}

.descrip_quienes_somos{
    display: grid;
    justify-content: center;
    align-items: center;    
    padding: 6.25rem 12.5rem;
}

.descrip_quienes_somos p{
    text-align: center;
    font-size: 1.125rem;    
}


/* FOOTER (TARJETAS DEL PIE DE PAGINA) */

footer {
    background-color: #728CBD;
    height: 12.5rem;
    overflow: hidden;

}

.cards_footer_grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        ".  col1   col2    col3    col4 .   "
    ;
    padding: 1.25rem;
    justify-items: center;
    color: white;
    
}

.cards_footer_grid div {
    display: grid;
    align-items: center;
    padding: 0rem .625rem 0rem .625rem;
}

.titulo_cf {
    text-justify: center;
    text-decoration: underline;
    font-size: 1.125rem;
    padding: .3125rem 0rem .3125rem 0rem;
}

.foot1 {
    grid-area: col1;
    background-color: rgb(72, 75, 80);
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 11.875rem;
    

}

.foot2 {
    grid-area: col2;
    background-color: rgb(72, 75, 80);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 11.875rem;
}

.foot3 {
    grid-area: col3;
    background-color: rgb(72, 75, 80);
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 11.875rem;
}

.foot4 {
    grid-area: col4;
    background-color: rgb(72, 75, 80);
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 11.875rem;
}



























/*FINAL DEL  CÓDIGO */



/* Responsive 1024 (ANCHO) */

@media (max-width:1024px) {
    .principal_section{
        height: 43.75rem;
    }
    .cards_footer_grid div{
        padding: .9375rem;
    }
}




@media (max-width:768px) {
    .principal_section{
        height: 37.5rem;
    }
    .cuerpo {
        width: 100vw;
    }
    footer{
        width: 100vw;
        height: 25rem;
    }
    .cards_footer_grid{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            ".  col1   col2     ."
            ".  col3    col4    ."
    ;
    }
    
    .cards_footer_grid div article{
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

/* Mobile Responsive 425 (ANCHO) */

@media(max-width:425px) {  

        .cuerpo {
            width: 100vw;
        }
            .nav {
                flex-direction: column;

                .navbar {
                    flex-direction: column;
        foofter{
                    .cards_footer_grid{
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
            ".  col1   col2     ."
            ".  col3    col4    ."
    ;
}
        }
                }
            }
        }
    



/* Mobile Responsive 320 (ANCHO) */

@media (max-width:320px) {
    .mapa iframe{
        width: 18.75rem;
        height: 14.0625rem;
    }
    .principal_section{
        height: 18.75rem;
    }
    .cuerpo {
        
    }
    footer{
        width: 100vw;
        height: 43.75rem;
    }
    .cards_footer_grid{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "col1"
            "col2"
            "col3"
            "col4"
        ;
    }
    .titulo_quienes_somos{
        
    }
    .video_intro{
        width: 18.75rem;
    }
}